.ContentPage {
    background-color: white;
}

.tableHeader {
    margin: 5px 0px 7px 0px;
}

.cursorPointer {
    cursor: pointer;
}

#pleaseWaitImage {
    background-color: white;
    height: 70px;
    width: 70px;
    position: fixed;
    z-index: 100000;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}
.yesErrorMessage {
    position:absolute;
    font-size:13px;
}
.studentTumbnails{
height:152px;
width:130px;
}
.studentImage{
    height:85px;
    width:90px;
}
